.trash-can{
	background-color: #2A2B37;
	border: none;
	margin-left: 19rem;
	margin-bottom: 4rem;
}

.event-formEdit{
	margin-top: -2.5rem;
	color: white;
	text-align: center;
}


/* .edit-form {
	color: white;
	text-align: center;
}

.edit-form input[type=text]{
	border: none;
	border-bottom: 1px solid #E2C792;
}

.edit-form select{
	font-size: 1.2rem;
	color: #C4C4C4;
	width: 13.5rem;
	margin: auto 2rem 0.75rem 1.1rem;
	border: none;
	border-bottom: 1px solid #E2C792;
}

.back-button-x {
	text-decoration: none;
	background: none;
	font-size: 2rem;
	position: absolute;
	top: 10px;
	right: 10%;
}

.edit-form-submit {
	text-indent: 0;
	background-color: #E2C792;
	color: #2A2B37;
	padding: 1rem 2.5rem;
	margin-top: 2.5rem;
} */