/* .event-form {
	text-align: center;
	font-family: 'Heebo', sans-serif;
}

.event-form input[type=text]{
	border: none;
	border-bottom: 1px solid #E2C792;
}
/* 
.event-form-category {
	border-style: none;
	border-bottom: 5px solid #E2C792;
}
 */