.overview-sidenav {
	font-family: 'Heebo', sans-serif;
	transition: .5s;
	overflow-x: hidden;
	background: #2A2B37;
	color: #C4C4C4;
	position: fixed;
	padding-top: 40px;
	height: 100%;
}

.overview-navbar-link {
	display: block;
	text-decoration: none;
	color: #C4C4C4;
	border-bottom: 1px solid #E2C792;
	padding: 8px 8px 8px 20px;
	margin: 0 10px;
}

.side-nav .overview-navbar-link:hover {
	cursor: pointer;
}

.close-button {
	top: 0;
	left: 25px;
	position: fixed;
	font-size: 40px;
	display: inline-block;

}

.overview-navbar-logout {
	color: #E2C792;
	border: 0;
	margin: 25% 0 0 0;
	text-align: center;
	font-size: 1em;
}