/* 
- use rem 
- use percentages rather than pixels
- 1 rem = 16px
- background blue/black color is 2A2B37
-  gold is E2C792
- silver C4C4C4
- white FFFFFF
*/

.total-spent {
  color: #E2C792;
}

.OverviewBudgetEntryContainer-category-total {
  background-color: #E2C792;
}

.OverviewBudgetEntryContainer-number {
  background-color: #E2C792;
  margin-bottom: 0%;
  padding: 1.5% 0;
  /* text-align: right; */
}

.OverviewBudgetEntryContainer-title {
  background-color: #E2C792;
  margin-left: 3%;
}

.budgetEntry-comment {
  background-color: #FFFFFF;
  margin-left: 5%;
}

.budgetEntry-amount {
  background-color: #FFFFFF;
  margin-left: 5%;
}

.budgetEntry-date {
  background-color: #FFFFFF;
  margin-left: 5%;
}

.budgetEntry-comment-specific {
  background-color: #FFFFFF;
  font-size: 140%;
}

.budgetEntry-amount-specific {
  background-color: #FFFFFF;
  float: right;
  margin-right: 2%;
  font-size: 140%;
  margin-top: 0;
  margin-bottom: auto;
  margin-top: -5%;
}

.budgetEntry-date-specific {
  background-color: #FFFFFF;
  color: gray
}

.add-entry {
  margin-left: 85%;
}

li {
  list-style-type: none;
}

.deleteButton {
  width: 50%;
  border: 1px solid black;
  margin-bottom: 0.5%;
}

.editButton {
  width: 50%;
  border: 1px solid black;
  margin-bottom: 0.5%;
}

.this-props-time {
  text-align: center;
  color: #E2C792;
  letter-spacing: 0.2rem;
}