/* 
- use rem 
- use percentages rather than pixels
- 1 rem = 16px
- background blue/black color is 2A2B37
-  gold is E2C792
- silver C4C4C4
- white FFFFFF
*/

.total-spent {
  color: white;
  text-align: center;}

/* .OverviewBudgetEntryContainer-category-total {
  background-color: #E2C792;
}

.OverviewBudgetEntryContainer-number {
  background-color: #E2C792;
  margin-bottom: 0%;
  padding: 1.5% 0;
  text-align: right;
}

.OverviewBudgetEntryContainer-title {
  background-color: #E2C792;
  margin-left: 3%;
} */

.budgetEntry-comment {
  background-color: #FFFFFF;
  margin-left: 5%;
}

.budgetEntry-amount {
  background-color: #FFFFFF;
  margin-left: 5%;
}

.budgetEntry-date {
  background-color: #FFFFFF;
  margin-left: 5%;

  
}

.budgetEntry-comment-specific {
  background-color: #FFFFFF;
  margin-left: -.75rem;
  margin-top: -0.5rem;
  margin-bottom: -0.25rem;
  font-size: 16px;
  width: 23.9rem;
}

.budgetEntry-amount-specific {
  background-color: #FFFFFF;
  float: right;
  margin-right: 15%;
  font-size: 140%;
  margin-top: 0;
  margin-bottom: auto;
  margin-top: -5%;
}

.budgetEntry-date-specific {
  background-color: #FFFFFF;
  color: gray;

  margin-left: -0.75rem;
  margin-top: -0.0625rem;
  margin-bottom: 0.0625rem;
  width: 23.9rem;
}

.add-entry {
  margin-left: 7.5rem;
  cursor: pointer;

  width: 8rem;
}

li {
  list-style-type: none;
}

.deleteButton {
  width: 50%;
  /* height: 200%; */
  border: 1px solid black;
  margin-bottom: 0.5%;
  cursor: pointer;
}

.editButton {
  position: absolute;
  border: none;
  background-color: white;
  margin-bottom: 0.5%;
  cursor: pointer;
  margin-left: 20.5rem;
  margin-top: -3rem;

}

.this-props-time {
  text-align: center;
  color: white;
  letter-spacing: 0.2rem;
}