@media(max-width: 768px) {
  .eventForm {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5.3rem;
    justify-content: center;
  }

  .edit-form-title {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    align-items: center;
    text-align: center;
    margin-bottom: 2.4rem;

    height: 3.5rem;
    
    flex-basis: 100%;

    color: #C4C4C4;
  }

  .form{
    margin: auto 2rem 0.75rem;
    color: #C4C4C4;

    padding-bottom: 0.625rem;
    text-indent: 0.025rem;
  }

  /* input {
    font-family: Helvetica;
    font-size: 1.2rem;
    text-indent: 0.75rem;
    color: #E2C792;

    margin: auto 2rem 0.75rem 1.1rem;

    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 3px;
    padding-bottom: 0.625rem;
  } */

  input.first {
    /* margin: auto auto 0.75rem 1rem;
    text-transform: capitalize;
    color: #C4C4C4;

    border-top: none;
    border-right: none;
    border-left: none;
    width: 15rem;

    padding-bottom: 0.625rem; */
    border: 0.0625rem solid #C4C4C4;
    border-radius: 0.2rem;
    width: 18.5rem;
    height: 2rem;
    margin-bottom: 0.75rem;
    color: #C4C4C4;
    text-indent: 2%;
    font-size: 1rem;

  }

  .last {
    /* margin-left: 1rem;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    color: #C4C4C4;

    border-top: none;
    border-right: none;
    border-left: none;

    padding-bottom: 0.625rem; */
    border: 0.0625rem solid #C4C4C4;
    border-radius: 0.2rem;
    width: 18.5rem;
    height: 2rem;
    margin-bottom: 0.75rem;
    color: #C4C4C4;
    text-indent: 2%;
    font-size: 1rem;

  }


  .Email {
    /* margin-bottom: 0.75rem;
    margin-left: 1rem;
    color: #C4C4C4;

    border-top: none;
    border-right: none;
    border-left: none;

    padding-bottom: 0.625rem; */

    border: 0.0625rem solid #C4C4C4;
    border-radius: 0.2rem;
    width: 18.5rem;
    height: 2rem;
    margin-bottom: 0.75rem;
    color: #C4C4C4;
    text-indent: 2%;
    font-size: 1rem;
  }

  .confirm-password {
    margin-bottom: 0.75rem;

    border-top: none;
    border-right: none;
    border-left: none;

  }

  .save {
    background: #E2C792;  
    font-family: Helvetica;
    font-size: 0.85rem;
    text-transform: capitalize;
    height: 2rem;
    width: 7.3125rem;
    margin-top: 2rem;
    margin-right: 1.25rem;
    margin-left: 1.5rem;
    
    color: #000000;
  }

  .go-back {
    background: #E2C792;  
    font-family: Helvetica;
    font-size: 0.85rem;
    text-transform: capitalize;
    height: 2rem;
    width: 7.3125rem;

    color: #000000;
  }

  
}

@media(min-width: 768px) {
  .eventForm {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5.3rem;
    justify-content: center;
  }

  .app-name {
    display: none;
  }

  .edit-form-title {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    align-items: center;
    text-align: center;
    margin-bottom: 2.4rem;

    height: 3.5rem;
    
    flex-basis: 100%;

    color: #C4C4C4;
  }

  .form{
    margin: auto 2rem 0.75rem;
    color: #C4C4C4;

    padding-bottom: 0.625rem;
    text-indent: 0.75rem;
  }

  input {
    font-family: Helvetica;
    font-size: 1.2rem;
    text-indent: 5%;
    color: #E2C792;
    width: 24rem;
    height: 3.625rem;

    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 3px;  
  }

  input.first {
    margin: auto auto 0.75rem 0.4rem;
    text-transform: capitalize;
    color: #C4C4C4;
  }

  .last {
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    color: #C4C4C4;

    margin-left: 1.1rem;
  }

  .userName {
    margin-bottom: 0.75rem;
    color: #C4C4C4;

    margin-left: 1.1rem;
  }

  .Email {
    margin-bottom: 0.75rem;
    color: #C4C4C4;

    margin-left: 1.1rem;
  }

  .confirm-password {
    margin-bottom: 0.75rem;

    margin-left: 1.1rem;
  }

  .save {
    background: #E2C792;  
    font-family: Helvetica;
    font-size: 0.85rem;
    text-transform: capitalize;
    height: 3.375rem;
    width: 7.3125rem;
    margin-top: 2rem;
    margin-right: 1.25rem;
    margin-left: 5.2rem;
    
    color: #000000;
  }

  .go-back {
    background: #E2C792;  
    font-family: Helvetica;
    font-size: 0.85rem;
    text-transform: capitalize;
    height: 3.375rem;
    width: 7.3125rem;

    color: #000000;
  }

  
}
