.editPasswordForm{
  margin-top: 6rem;
}

.currentPassword{
  color: #c4c4c4;
  margin-left: 2.4rem;
  margin-bottom: -0.005rem;
}

.password{
  margin-left: 2.4rem;
  width: 18rem;

  height: 2.4rem;

}

.newPassword{
  color: #c4c4c4;
  margin-left: 2.4rem;
  margin-bottom: -0.005rem;
  margin-top: -1rem;
}

.password2{
  margin-left: 2.4rem;
  width: 18rem;

  height: 2.4rem;
}

.change-password-button{
  margin-left: 9rem;
  margin-top: 1rem;

  width: 5rem;
  height: 2rem;
}