.editPasswordForm{
  margin-top: 6rem;
}

.currentPasswordEdit{
  color: #c4c4c4;
  margin-left: 2.4rem;
}

.passwordEdit{
  margin-top: -1rem;
  font-family: Helvetica;
  font-size: 1.2rem;
  text-indent: 5%;
  margin-bottom: -0.75rem;
  margin-left: 2.3rem;
  color: #E2C792;
  width: 18rem;
  height: 3rem;


  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 3px;

  flex-basis: 100%;


}

.newPassword{
  color: #c4c4c4;
  margin-left: 2.4rem;
}

.password2Edit{
  margin-top: -1rem;
  font-family: Helvetica;
  font-size: 1.2rem;
  text-indent: 5%;
  margin-bottom: -0.75rem;
  margin-left: 2.3rem;
  color: #E2C792;
  width: 18rem;
  height: 3rem;


  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 3px;

  flex-basis: 100%;
}

.change-password-button{
  margin-left: 8rem;
  margin-top: 3rem;
  width: 6.6rem;
  height: 2.25rem;
  font-family: Heebo, sans-serif;
  font-size: 1rem;

  font-weight: bold;
}