/* @media(max-width: 768px) { */
  /* .profile-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    justify-content: center;
  } */

  /* .B-counter {
    font-family: Heebo;
    font-size: 1.125rem;
    line-height: 1.625rem;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  
    color: #E2C792;
  } */
  


  /* .first-name {
    margin: auto auto 0.75rem auto;
    border-bottom: 1px solid #C4C4C4;
  }

  .last-name {
    margin-bottom: 0.75rem;
    border-bottom: 0.0625rem;
  }

  .register-username {
    margin-bottom: 0.75rem;
  }

  .email {
    margin-bottom: 0.75rem;
  }

  .password {
    margin-bottom: 0.75rem;
  }
} */