/* @media(max-width: 768px) { */
  /* .profile-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    justify-content: center;
  } */

  /* .B-counter {
    font-family: Heebo;
    font-size: 1.125rem;
    line-height: 1.625rem;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  
    color: #E2C792;
  } */
  
  .above-input {
    /* text-align: center; */
    color: #C4C4C4;
    margin-left: 2rem;
  }

  .first-nameProfile {
    margin: auto auto 0.75rem auto;
    border: 0.0625rem solid #C4C4C4;
    padding-top: 0.5rem;

    width: 18.5rem;
    height: 1.2rem;
    border-radius: 0.2rem;

  }

  .last-nameProfile {
    margin-bottom: 0.75rem;
    border: 0.0625rem solid #C4C4C4;
    padding-top: 0.5rem;

    width: 18.5rem;
    height: 1.2rem;

    border-radius: 0.2rem;
  }

  .register-username {
    margin-bottom: 0.75rem;
  }

  .emailProfile {
    border: 0.0625rem solid #C4C4C4;
    border-radius: 0.2rem;
    padding-top: 0.5rem;


    width: 18.5rem;
    height: 1.2rem;


    margin-bottom: 0.75rem;
  }

  .changePassword {
    display: flex;
    margin: 2rem auto auto 7.8rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    text-transform: capitalize;
    color: #7C7F91;
    cursor: pointer;
  }
/* } */