@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
* {
  background: #2A2B37;
  font-family: 'Heebo', sans-serif;
}


button {
  background: #E2C792;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
